<div class="comment-container">
  <div class="top-container">
    <div><span>@</span><%= comment.commenter %></div>
    <button class="delete-btn"><%= link_to 'Delete', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %></button>
  </div>

  <div><%= simple_format(comment.body) %></div>
</div>