/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

//  Custom bootstrap; Manually load other stylesheets
@import "bootstrap-custom"; 
@import "./articles.scss";
@import "./comments.scss";
@import "./footer.scss";
@import "./header.scss";
@import "./actiontext.scss";
@import "toastr/toastr";

 *, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  --menu-color: #333;
  --font-color: #3c3431;

  --main-color-1: #705446;
  --main-color-2: #e1c391;
  --main-color-3: #fdf4e3;
  --main-color-4: #3c3431;

  --main-color-5: #e2e6e7;
  --main-color-6: #e4d4c8;
  --main-color-7: #d0b49f;
  --main-color-8: #201a1e;

  --color-add: #e3fde7;
  --color-edit: #E3ECFD;
  --color-destroy: #fde3f9;

  --font-size: 22px;
  --footer-height: 1.5rem;
}

/* GLOBAL ELEMENT STYLES */
html {
  font-size: var(--font-size);
  font-family: 'Lora', serif;
  background-color: var(--main-color-3);
  color: var(--font-color);
  scroll-behavior: smooth;
}

h2 {
  font-size: 1.1rem;
  color: var(--main-color-1);
  padding-top: 3vh;
  padding-bottom: 0.5vh;
}

body {
  width: 100%;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

input, textarea, select {
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 2.5%;
}

select {
  width: max-content;
}

textarea {
  resize: vertical;
  min-height: 250px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* GLOBAL CLASS STYLES */
.a-remove {
  color: var(--font-color);
}

.a-remove:hover {
  text-decoration: underline;
}

.footer-link {
  color: var(--main-color-1);
}

.hide {
  height: 0;
  width: 0;
  visibility: hidden;
  opacity: 0;
}

.error-message {
  color: red;
  font-size: 0.8rem;
}

/* PAGE CONTAINER */
#page-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

#content-wrap {
  margin-bottom: 1vh; 
  padding-bottom: var(--footer-height);
}

/* PAGE STYLES */
.content {
  padding: 0 10vw;
}

/* INDEX */
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-btn {
  cursor: pointer;
  padding: 9px;
  border-radius: 20px;
  border: 1px solid var(--main-color-4);
  font-size: .8rem;
  background-color: var(--color-add);
  // width: 250px;
}

/* BUTTONS */
.edit-btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--main-color-4);
  font-size: .7rem;
  background-color: var(--color-edit);
  color: var(--main-color-8);
}

.delete-btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--main-color-4);
  font-size: .7rem;
  background-color: var(--color-destroy);
}

.create-btn:hover, .edit-btn:hover, .delete-btn:hover {
  filter: saturate(350%);
}

// MEDIA QUERIES
/* 468px and down */
@media only screen and (min-width: 0px) and (max-width: 468px) {
  html {
    font-size: 14px;
  }
}

/* 768px and down */
@media only screen and (min-width: 469px) and (max-width: 767px) {
  html {
    font-size: 18px;
  }
}

/* Default style for 768px and up */