// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comment-container {
  padding: 1% 2% 2% 2%;
  border-bottom: 1px solid black;
}

.comment-form-container {
  margin: 1% 0;
  padding: 1.5% 3% 2% 3%;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
}