header {
  width: 100%;
  text-align: center;
  height: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.left-header-container, .right-header-container {
  font-family: 'Poppins', sans-serif;
  font-size: 0.65rem;
  font-weight: 400;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-grow: 2;
}

.logo-container {
  position: relative;
  width: 0;
  height: 0;
}

.logo {
  position: absolute;
  height: 75px;
  width: auto;
  left: -60px;
}

.text-container {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  font-weight: 700;
}

.header-text {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  margin-bottom: -3%;
}

.header-subtext {
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
}

// NAV ANIMATION
$red: #f15252;
$duration: .2s;
$distance: 5px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

.left-header-container > div {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 5px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0; right: 0;
    height: 2px;
    background-color: $red;
  }
  &:before {
    opacity: 0;
    transform: translateY(- $distance);
    transition: transform 0s $easeOutBack, opacity 0s;
  }
  &:after {
    opacity: 0;
    transform: translateY($distance/2);
    transition: transform $duration $easeOutBack, opacity $duration;
  }
  &:hover,
  &:focus {
    &:before,
    &:after {
      opacity: 1;
      transform: translateY(0);
    }
    &:before {
      transition: transform $duration $easeOutBack, opacity $duration;
    }
    &:after {
      transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
    }
  }
}

// MEDIA QUERIES
/* 468px and down */
@media only screen and (min-width: 0px) and (max-width: 468px) {
  .logo {
    height: 25px;
    left: 75px;
    top: -20px;
  }

  .left-header-container, .right-header-container {
    font-size: 1rem;
  }

  .header-text {
    font-size: 2rem;
  }
}

/* 768px and down */
@media only screen and (min-width: 469px) and (max-width: 767px) {
  .logo {
    height: 50px;
    left: -40px;
    top: -5px;
  }

  .left-header-container, .right-header-container {
    font-size: 0.75rem;
  }

  .header-text {
    font-size: 2.3rem;
  }
}

/* Default style for 768px and up */